@model FichaCadastro.Models.FichaDeCadastro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FichaDeCadastro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeRh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeRh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PretencaoSalarial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PretencaoSalarial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FonteRecrutamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FonteRecrutamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeDisponibilidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeDisponibilidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumTelefoneRes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumTelefoneRes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumCelular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumCelular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RgDataExpe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RgDataExpe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RgOrgaoEmissor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RgOrgaoEmissor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeMae)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeMae)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomePai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dependentes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dependentes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrabalhouResource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrabalhouResource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idioma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idioma)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
